<hello name="{{ name }}"></hello>
<hr />

<div *ngIf="!auth">
  <div>Usuário:</div>
  <div><input type="text" [(ngModel)]="login" /></div>
  <div>Senha:</div>
  <div><input type="password" [(ngModel)]="password" /></div>
  <hr />
  <div><input type="button" value="Enter" (click)="postLogin()" /></div>
</div>

<div *ngIf="auth">
  <!-- colocar o router outlet aqui após logado -->
  <div>Bem-vinde, {{ auth.username }}!</div>
  <hr />
  <div><input type="button" value="Logout" (click)="postLogout()" /></div>
  <hr />
  <div>
    <button (click)="getList()">Fetch</button>
    <div *ngIf="list">
      <h2>Lista de Cadastrados</h2>
      <table>
        <tr>
          <th>Id:</th>
          <th>Nome:</th>
          <th>Endereço:</th>
        </tr>
        <tr *ngFor="let pessoa of list">
          <td>{{ pessoa['id'] }}</td>
          <td>{{ pessoa['nome'] }}</td>
          <td>{{ pessoa['endereco'] }}</td>
        </tr>
        <!-- aqui o pessoa é com [] (pessoa['id']) pois é uma array de any, e não declarado uma array de objetos específicos. -->
      </table>
    </div>
  </div>
</div>

<!--
  1) primeiro endpoint --
  /login  
  -> request post: manda um login e uma senha em um json: {
      "login": "ajsdhfg",
      "senha": "234567jdfgh"
    }
    devolve um json com "token", "username" e um profile que é um array com os perfis de acesso do usuario (eg. admin)

  2) segundo endpoint
  /pessoas_fisicas
    -> request get
  devolve um array com id, nome, etc etc

-->
